<html>
  <head>
      <title> Amber's Blog </title>
    </head>
    <body>
      <h1> Amber Heavner </h1>
      <h2> Blogging My Way Through Learning Tech </h2>
      <div>
        <p> This is a paragraph full of text. This is a paragraph full of text. This is a paragraph full of text. This is a paragraph full of text. This is a paragraph full of text. This is a paragraph full of text. This is a paragraph full of text. This is a paragraph full of text.  </p>
      </div>  
      <strong> SUPPORT DJANGO GIRLS </strong>
      <br>
      <a href="http://www.djangogirls.com"> Django Girls </a>
    </body>
</html>
